<section class="container d-flex justify-content-center">
	<div class="col-lg-10">
		<div class="row">
			<button (click)="goBack()" class="btn btn-success">
				<span class="fa fa-chevron-left mr-2"></span>Back
			</button>
		</div>
		<div class="window row">
			<div class="col-6">
				<h1>Trainings</h1>
				<h2>View and edit your trainings</h2>
			</div>
			<div class="d-flex justify-content-end col-6">
				<a routerLink="/new-training" class="btn btn-success align-self-center">Add new training <span class="fa fa-plus"></span></a>
			</div>
			
			<div class="col-12" *ngFor="let training of trainings">
				<app-training [training]="training"></app-training>
			</div>
			
		</div> <!-- /.window -->
	</div>
</section>