<simple-notifications [options]="NotificationOptions"></simple-notifications>
<section class="container d-flex justify-content-center">
	<div class="col-lg-10">
		<div class="row">
			<button (click)="goBack()" class="btn btn-success">
				<span class="fa fa-chevron-left mr-2"></span>Back
			</button>
			<h1 class="subpage-title">New training</h1>
		</div>
		<div class="window row">
			<div class="col-8">
				<div class="training-data">
					<input type="text" placeholder="Training name" [(ngModel)]="trainingName">
					<p>on</p> <app-date-picker (messageEvent)="receiveDate($event)"></app-date-picker>
				</div>
				<h2>Add an excercise</h2>
			</div>
			<div class="d-flex justify-content-end col-4">
				<a routerLink="/view-trainings" class="btn btn-success align-self-center">
					View trainings <span class="fa fa-list-alt"></span>
				</a>
			</div>
			<div class="col-12 d-flex align-items-center mb-4">
				<form action="">
					<select name="" id="new-training-select">
						<option value="" disabled selected hidden>Choose...</option>
						<option *ngFor="let excercise of userExcercises" (click)="setNewExcercise(excercise)" value="{{excercise.name}}">{{ excercise.name }}</option>
					</select>
				</form>
				<span class="mx-3">or</span>
				<button (click)="showInput()" class="btn btn-success">Create new <span class="fa fa-plus"></span></button>
				<button (click)="saveTraining()" class="btn btn-success green ml-5">Save training<span class="fa fa-check"></span></button>
			</div>

			<div class="excercise new col-12">
				<div class="inner">
					<p *ngIf="!newExcercise.name && !createNew" class="name">Choose new excercise...</p>
					<p *ngIf="!createNew && newExcercise.name" class="name">{{ newExcercise.name }}</p>
					<div *ngIf="createNew" class="name">
						<input type="text" [(ngModel)]="newExcercise.name" placeholder="Name your new excercise">
					</div>
					<div class="table-wrapper">
						<table class="table">
							<thead>
								<tr>
									<th>Serie</th>
									<th>Weight</th>
									<th>Reps</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">{{serieId}}</th>
									<td><input OnlyNumber="true" type="number" min="1" [(ngModel)]="newSerie.weight"></td>
									<td><input OnlyNumber="true" type="number" min="1" [(ngModel)]="newSerie.reps"></td>
									<td class="confirm">
										<button class="btn btn-success" (click)="addSerie()">
											<span class="fa fa-check"></span>
										</button>
									</td>
								</tr>
								<tr *ngFor="let serie of newExcercise.series">
									<th scope="row">{{serie.id}}</th>
									<td>{{serie.weight}}</td>
									<td>{{serie.reps}}</td>
									<td class="edit">
										<button class="btn btn-success">
											<span class="fa fa-pencil-square-o"></span>
										</button>
									</td>
									<td class="delete">
										<button class="btn btn-success">
											<span class="fa fa-times"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="save-excercise">
							<button class="btn btn-success green" (click)="addExcercise()">Add <span class="fa fa-check"></span></button>
						</div>
					</div>
				</div>
			</div> <!-- /.excercise -->

			<div class="col-12" *ngFor="let excercise of trainingExcercises">
				<app-excercise [excercise]="excercise"></app-excercise>
			</div> <!-- /.excercise -->

		</div>
	</div>
</section>
