<section class="container d-flex justify-content-center">
	<div class="col-lg-10">
		<div class="row">
			<div class="col-lg-6">
				<a routerLink="/new-training" class="tile">
					<span class="flaticon-plus"></span>
					<span class="desc">Add new training</span>
				</a>
			</div>
			<div class="col-lg-6">
				<a routerLink="/view-trainings" class="tile">
					<span class="flaticon-dumbbell"></span>
					<span class="desc">View your trainings</span>
				</a>
			</div>
			<div class="col-lg-6">
				<a routerLink="/new-measurment" class="tile">
					<span class="flaticon-measuring-tape"></span>
					<span class="desc">Add new measurment</span>
				</a>
			</div>
			<div class="col-lg-6">
				<a routerLink="/charts" class="tile">
					<span class="flaticon-line-chart"></span>
					<span class="desc">View progress charts</span>
				</a>
			</div>
		</div>
	</div>
</section>
